body {
  margin: 0px;
  /*-webkit-tap-highlight-color: rgba(253,199,12,0.2);*/ /*yellowish tap glow*/
  -webkit-tap-highlight-color: rgba(0,0,0,0); /*no highlight on tap */
  -webkit-tap-highlight-color: transparent;   /*no higlight on tap, required on some Androids*/
  -webkit-user-select: none; /*prevent selection on long press */
}

.selectable {
    -webkit-user-select: auto;
}


.allcaps {
  text-transform: uppercase !important;
}

.diff-badge p {
  margin-top: -5px !important; /*line height adjustment*/
}

.entryfield input {
  border: 2px solid white;
}

.three-line-fix p:first-of-type {
  margin-top: 6px !important;
}

.yellowbutton p:first-of-type {
  margin-top: 6px !important;
}

.breakout p:first-of-type {
  margin-top: 10px !important;
}

/* fade in out animations for fader css3 */
.btvisible {
  visibility: visible;
  opacity: 1;
  transition: opacity 600ms linear;
}
.bthidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 400ms, opacity 400ms linear;
}